h1 {
    text-align: center;
    font-family: sans-serif;
    color: blue;
}

section {
    font-family: sans-serif;
    font-size: 15px;
}

body {
    text-align: center;
    width: 95vw;
}


.search {
    display: grid;
    grid-template-columns: 3;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


button {
    width: 12vw;
    align-items: center;
    margin-left: 45%;
    grid-area: 3;
    background-color: transparent;
    border: grey;
}

#bttn {
    position: absolute;
    top: 15.4%;
    left: 11%;
    border-radius: 40%;
}

#search-bar{
    
    display: block;
  margin: 0 auto;
  padding: 10px;
  margin-top: 30px;
  border-radius: 15px;
    
}

#dietary-require {
    /* padding: 10px; */
    /* margin: 10px; */
    align-content: center;
    flex: 1;
    
    
    
}

#calories{
    /* padding: 10px; */
    /* margin: 10px; */
    text-align: center;
    flex: 1;
}


#btn-container {
    display: flex;
}

#ingredients-div {
    flex: 1;
}