h1 {
    text-align: center;
    font-family: sans-serif;
    color: blue;
}

section {
    font-family: sans-serif;
    font-size: 15px;
}

body {
    text-align: center;
    width: 100vw;
    margin: 1rem;
    background-color: grey;
}


/* .search {
    display: grid;
    grid-template-columns: 3;
} */


/* .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
} */


button {
    width: 12vw;
    align-items: center;
    background-color: transparent;
    border: grey;
}

#bttn {
    position: absolute;
    top: 14.5%;
    left: 85%;
    border-radius: 40%;
    
}

.search {
    display: flex;
    margin: 0 auto;
    padding: 10px;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 3px 5px rgb(0, 0, 0, 0.4);
    
}

#dietary-require {
    padding: 5px;
    margin: 5px;
    align-content: center;
    width: 33%;

 
    
}

#calories{
    padding: 5px;
    margin: 5px;
    text-align: center;
    width: 33%;
    
}


#btn-container {
    display: flex;
    width: 100%;
    align-items: center;
    
}

#ingredients-div {
    width: 33%;
}

.r {
    color: red;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}

.e {
    color: orange;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}

.c {
    color: yellow;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}

.i {
    color: green;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}

.p {
    color: blue;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}

.e {
    color: purple;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}

#container {
    background-color: white;
    width: 100vw;
    height: 15vw;
    /* margin: 10px; */
    /* padding: 10px; */
}